<div class="content">
  <app-side-nav></app-side-nav>
  <div class="container">
    <div class="container1">
    <h5>All Programs</h5>
    <div class="con">
      <button class="btn btn-primary" routerLink="/create-program">
        Add Program
      </button>
    </div>
    <div class="card-container">
      <div class="card"  *ngFor="let program of programs">
        <div class="card-body">
          <div>
            <label class="title">{{ program.title }}</label>
          </div>
          <div class="img-container">
            <img src="#" alt="image" />
          </div>

          <div class="butcon">
            <button
              class="btn btn-primary"
              routerLink="/dashboard/program/{{ program.id }}"
              id="btn"
            >
              View
            </button>
            <button class="btn btn-primary" id="btn1" routerLink="">Edit</button>
            <button class="btn btn-primary" id="btn1" routerLink="">Delete</button>
        </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  <div class="container2">
    <h5>Announcements:</h5>
    <div class="con">
    </div>
    <div class="card-container">
        <div class="card-body">
          <div class="card2">
          <p>Sample announcement....</p>
          <p class="red">30days</p>
          </div>
        </div>
    </div>
    
  </div>
    <div class="container3">
      <div class="card-container">
          <div class="card-body">
              <div [chart]="chart"></div>
          </div>
      </div>
      </div>

</div>

