.content {
  display: flex;
  background-color: rgb(245, 245, 245);
  height: 100vh;
}

.container {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 8px 8px 5px 2px rgb(175, 173, 173);
  padding: 30px;
}

button {
  margin: 2px;
}

